@page
@model EstadoDeCuenta.Web.Pages.Tarjetas.Compras.CrearModel

<h2>Agregar Nueva Compra</h2>

<form method="post">
    <div class="form-group">
        <label for="Descripcion">Descripción</label>
        <input type="text" class="form-control" asp-for="NuevaCompra.Descripcion" />
        <span asp-validation-for="NuevaCompra.Descripcion" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="Monto">Monto</label>
        <input type="number" class="form-control" asp-for="NuevaCompra.Monto" />
        <span asp-validation-for="NuevaCompra.Monto" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Agregar Compra</button>
</form>
